* {
    box-sizing: border-box;
}

header {
    width: 100vw;
    background-color: #6a8ebb;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.header-text {
    color: #3d3339;
}

/* .content {
    display: flex;
} */

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}
.input-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #3d3339 100%);
    background-color: #3d3339;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}
.btn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}
.btn:active {
    position: relative;
    top: 1px;
}

.starwars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
